*/.DS_Store
main
tmp/
**/*.tgz
./go-main

**/answer.json

**/node_modules

backend/example/
frontend/example/
frontend/dist/

**tmp**
.trae/

**__pycache__**
**dev-skills-config.yaml

.claude

**docker-context**

postgres_data